<a href="#" class="__MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-vcenter __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-show-profile">
	<img src="___USER_avatar___" width="75" height="75" alt="___USER_name___" />
</a>

<div class="__MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-space-around __MSG_@@extension_id__-ext-home-profile-register __MSG_@@extension_id__-ext-flex">
	<a href="___EXT_URL___/account/my-account" target="_blank" class="__MSG_@@extension_id__-ext-show-profile">
		<h1 class="__MSG_@@extension_id__-ext-ellipsis">___USER_firstname___ ___USER_lastname___</h1>
		<p class="__MSG_@@extension_id__-ext-ellipsis"><em>___USER_email___</em></p>
	</a>
	<p><a href="#" class="__MSG_@@extension_id__-ext-btn-logout">___home_logout___</a></p>
</div>