<div class="__MSG_@@extension_id__-ext-overlay __MSG_@@extension_id__-ext-overlay-add-participant">
	<header class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-vcenter">
		___project_overlay_participant_title___
		<a href="#" class="__MSG_@@extension_id__-ext-overlay-close"><i class="fa fa-close"></i></a>
	</header>

	<h2 class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-vcenter">
		<i class="fa fa-link"></i>
		Utilisez le lien de partage
	</h2>

	<p>
		<label for="__MSG_@@extension_id__-ext-link-share">Copiez le lien ci-dessous</label><br/>
		<input type="text" id="__MSG_@@extension_id__-ext-link-share" readonly="readonly" value="___EXT_URL___/share/projects/___PROJECT_share_key___" />
	</p>

	<!--h2 class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-vcenter">
		<i class="fa fa-thumbs-o-up"></i>
		Partagez directement sur les réseaux sociaux
	</h2>

	<section class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-vcenter">
		<button class="__MSG_@@extension_id__-ext-share-fb" type="button"><i class="fa fa-facebook-official"></i></button>
		<button class="__MSG_@@extension_id__-ext-share-tw" type="button"><i class="fa fa-twitter-square"></i></button>
		<button class="__MSG_@@extension_id__-ext-share-gp" type="button"><i class="fa fa-google-plus-square"></i></button>
	</section-->
</div>