<div class="__MSG_@@extension_id__-ext-wrap-btn-add-subproject">
	<button type="button" class="__MSG_@@extension_id__-ext-btn __MSG_@@extension_id__-ext-btn-xs __MSG_@@extension_id__-ext-btn-add-subproject" href="#">Créer un sous-projet</button>
	<form action="#" method="post" class="__MSG_@@extension_id__-ext-form-add-subproject">
		<p class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
			<span class="__MSG_@@extension_id__-ext-flex"></span>
			<input placeholder="___project_form_project_name___" name="project" type="text" required style="background:#fff;border:1px solid #a7a7a7" class="__MSG_@@extension_id__-ext-field-add-project"/>
			<input type="hidden" name="id_parent" value="___PROJECT_id___"/>
			<input type="hidden" name="name_parent" value="___PROJECT_name___"/>
			<input type="hidden" name="level" value="1"/>
			<button type="submit" class="__MSG_@@extension_id__-ext-btn __MSG_@@extension_id__-ext-btn-xs">___project_form_project_btn___</button>
			<button type="button" class="__MSG_@@extension_id__-ext-btn __MSG_@@extension_id__-ext-btn-xs __MSG_@@extension_id__-ext-btn-danger">Annuler</button>
		</p>
	</form>
</div>