<li class="__MSG_@@extension_id__-ext-flex-33">
	<a href="#" class="__MSG_@@extension_id__-ext-layout-column" data-id="___LINK_id___">
		<header class="__MSG_@@extension_id__-ext-layout-column">
			<h3 class="__MSG_@@extension_id__-ext-ellipsis __MSG_@@extension_id__-ext-links-title __MSG_@@extension_id__-ext-flex">___LINK_title___</h3>
			<p class="__MSG_@@extension_id__-ext-ellipsis __MSG_@@extension_id__-ext-links-host">___LINK_host___</p>
			<div class="__MSG_@@extension_id__-ext-links-rate __MSG_@@extension_id__-ext-links-rate-column">
				<div class="__MSG_@@extension_id__-ext-links-rating" title="___LINK_rate___ / 5">
					<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-over" style=" width:calc(___LINK_rate___/5*100%);">
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
					</span>
					<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-under">
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
					</span>
				</div>
			</div>
		</header>
		<div class="__MSG_@@extension_id__-ext-layout-row">
			<div class="__MSG_@@extension_id__-ext-links-wrap-image __MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-hcenter">
				<img class="__MSG_@@extension_id__-ext-links-image" src="___LINK_image___" width="125" alt="'___LINK_title___"/>
			</div>
			<p class="__MSG_@@extension_id__-ext-links-description __MSG_@@extension_id__-ext-flex">___LINK_long_desc___</p>
		</div>
		<div class="__MSG_@@extension_id__-ext-links-rate __MSG_@@extension_id__-ext-links-rate-row">
			<div class="__MSG_@@extension_id__-ext-links-rating" title="___LINK_rate___ / 5">
				<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-over" style=" width:calc(___LINK_rate___/5*100%);">
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
				</span>
				<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-under">
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
					<span><i class="fa fa-star"></i></span>
				</span>
			</div>
		</div>
	</a>
</li>