<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-panel-right">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex"></span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-form-login">
			<header>
				<h1>___form_login_title___</h1>
			</header>

			<form action="#" method="post" class="__MSG_@@extension_id__-ext-form-login">
				<p>
					<input placeholder="___form_login_email___" name="email" type="email" required/>
				</p>
				<p>
					<input placeholder="___form_login_password___" name="password" type="password" required/>
				</p>
				<p class="__MSG_@@extension_id__-ext-button">
					<button type="submit">___form_login_button___</button>
				</p>
			</form>

			<section>
				<p>___form_login_fb_tw___</p>
				<!-- p class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-space-between" -->
				<p class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter">
					<a href="#" class="__MSG_@@extension_id__-ext-btn-fb">Facebook</a>
					<!-- a href="#" class="__MSG_@@extension_id__-ext-btn-tw">Twitter</a -->
				</p>
			</section>

			<section>
				<p>
					<a href="#" class="__MSG_@@extension_id__-ext-btn-register">___form_login_register___</a>
				</p>
			</section>
		</section>
	</div>
</div>