<style>
#ppp-form-connection        {  }
#ppp-form-connection p      { margin:5px 0 !important; }
#ppp-form-connection input  { background:#fff !important; border:1px solid #a7a7a7 !important; }
#ppp-form-connection button { background:#a7a7a7 !important; padding:3px 7px !important; }
</style>


<section id="ppp-form-connection">
	<form action="#" method="post">
		<p>
			<input>
		</p>
		<p>
			<button type="submit">Connexion</button>
		</p>
	</form>

	<p><a href="#" id="ppp-not-register">Pas encore inscrit ?</a></p>
	<p><a href="#">Ne pas s'inscrire</a></p>
</section>