<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-logged __MSG_@@extension_id__-ext-panel-right">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex"></span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-home">
			<header>
				<div class="__MSG_@@extension_id__-ext-partial-home-profile-register __MSG_@@extension_id__-ext-flex __MSG_@@extension_id__-ext-layout-row"></div>
			</header>

			<section>
				<div class="__MSG_@@extension_id__-ext-preview-link">
					<figure class="__MSG_@@extension_id__-ext-layout-row">
						<p class="__MSG_@@extension_id__-ext-preview-link-wrap-img __MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-hcenter">
							<img src="___LINK_image___" alt="___LINK_title___"/>
							<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-link-img-nav">
								<a href="#" class="__MSG_@@extension_id__-ext-link-img-nav-left"><i class="fa fa-caret-left"></i></a>
								<a href="#" class="__MSG_@@extension_id__-ext-link-img-nav-right"><i class="fa fa-caret-right"></i></a>
							</span>
						</p>
						<div class="__MSG_@@extension_id__-ext-flex __MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-space-between" style="min-width:1px;">
							<h3 class="__MSG_@@extension_id__-ext-ellipsis">___LINK_title___</h3>
							<p class="__MSG_@@extension_id__-ext-preview-link-desc">___LINK_desc___</p>
							<p class="__MSG_@@extension_id__-ext-preview-link-host">___LINK_host___</p>
						</div>
					</figure>
				</div>

				<div class="__MSG_@@extension_id__-ext-wrap-btn-add-link">
					<p><button type="button" class="__MSG_@@extension_id__-ext-btn __MSG_@@extension_id__-ext-btn-lg __MSG_@@extension_id__-ext-btn-add-link" data-idproject="___USER_myprojects_default_id___">___home_btn_add_link___</button></p>
					<p><a href="#" class="__MSG_@@extension_id__-ext-btn-search-project">___home_link_in___ <span>___USER_myprojects_default_name___</span></a></p>
				</div>
			</section>

			<p><a href="#" class="__MSG_@@extension_id__-ext-btn-todo">@TODO</a></p>

			<section>
				___USER/myprojects___

				___USER/mysharedprojects___

				___USER/myarchivedprojects___
			</section>
		</section>
	</div>
</div>