<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-logged __MSG_@@extension_id__-ext-panel-major __MSG_@@extension_id__-ext-panel-expand">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex">___LINK_title___</span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-link">
			
			<div class="__MSG_@@extension_id__-ext-layout-row">
				<div class="__MSG_@@extension_id__-ext-links-wrap-image __MSG_@@extension_id__-ext-layout-column __MSG_@@extension_id__-ext-hcenter">
					<img class="__MSG_@@extension_id__-ext-links-image" src="___LINK_image___" width="250" alt="'___LINK_title___"/>
				</div>
				<div class="__MSG_@@extension_id__-ext-flex">
					<h3 class="__MSG_@@extension_id__-ext-links-title">___LINK_title___</h3>
					<p class="__MSG_@@extension_id__-ext-links-description">___LINK_description___</p>
					<p class="__MSG_@@extension_id__-ext-links-url"><a href="___LINK_url___" target="_blank">___LINK_url___</a></p>
					<div class="__MSG_@@extension_id__-ext-links-rate __MSG_@@extension_id__-ext-link-rate __MSG_@@extension_id__-ext-links-rate-column">
						<div class="__MSG_@@extension_id__-ext-links-rating" title="___LINK_rate___ / 5">
							<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-over" style="width:calc(___LINK_rate___/5*100%);">
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
							</span>
							<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-under">
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
								<span><i class="fa fa-star"></i></span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter __MSG_@@extension_id__-ext-my-rate">
				<p>___link_my_rate___</p>
				<div class="__MSG_@@extension_id__-ext-links-rate __MSG_@@extension_id__-ext-links-rate-column">
					<div class="__MSG_@@extension_id__-ext-links-rating" title="___LINK_myrate___ / 5" data-default="___LINK_myrate___">
						<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-over" style="width:calc(___LINK_myrate___/5*100%);">
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
						</span>
						<span class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-links-rate-under">
							<span data-value="1"><i class="fa fa-star"></i></span>
							<span data-value="2"><i class="fa fa-star"></i></span>
							<span data-value="3"><i class="fa fa-star"></i></span>
							<span data-value="4"><i class="fa fa-star"></i></span>
							<span data-value="5"><i class="fa fa-star"></i></span>
						</span>
					</div>
				</div>
			</div>

			<form action="#" method="post" class="__MSG_@@extension_id__-ext-form-comment">
				<p class="__MSG_@@extension_id__-ext-form-comment-txt">
					<textarea placeholder="___link_form_comment_txt___" name="comment" required></textarea>
				</p>
				<p class="__MSG_@@extension_id__-ext-button">
					<button type="submit" class="__MSG_@@extension_id__-ext-btn">___link_form_comment_button___</button>
				</p>
			</form>

			<div class="__MSG_@@extension_id__-ext-partial-link-comments"></div>

		</section>
	</div>
</div>