<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-logged __MSG_@@extension_id__-ext-panel-major __MSG_@@extension_id__-ext-panel-expand">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex"></span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-me">
			
			<form>
				<fieldset>
					<legend>Mes informations</legend>

					<p>
						<img src="___USER_avatar___" width="110" height="110" alt="___USER_name___" />
					</p>
					<p>
						<label>Nom</label>
						<input type="text" name="name" value="___USER_name___" />
					</p>
					<p>
						<label>Email</label>
						<input type="text" name="name" value="___USER_email___" />
					</p>
					<p class="__MSG_@@extension_id__-ext-button">
						<button>Modifier mes informations</button>
					</p>
				</fieldset>
			</form>

		</section>
	</div>
</div>