<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-logged __MSG_@@extension_id__-ext-panel-expand-light __MSG_@@extension_id__-ext-panel-expand">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex">___PROJECT_name___</span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-project">
			<a href="___EXT_URL___/overview/projects/___PROJECT_id___" target="_blank" class="__MSG_@@extension_id__-ext-btn-project-conf"><i class="fa fa-cog"></i></a>

			<div class="__MSG_@@extension_id__-ext-partial-project-participants"></div>

			<div class="__MSG_@@extension_id__-ext-partial-project-btn-add-subproject"></div>

			<p class="__MSG_@@extension_id__-ext-links-btn-views">
				<a href="#" class="__MSG_@@extension_id__-ext-links-btn-gal"><i class="fa fa-th-large"></i></a>
				<a href="#" class="__MSG_@@extension_id__-ext-links-btn-row"><i class="fa fa-list"></i></a>
			</p>

			<div class="__MSG_@@extension_id__-ext-partial-project-links __MSG_@@extension_id__-ext-project-links" data-idproject="___PROJECT_id___">
				<ul class="__MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-hcenter __MSG_@@extension_id__-ext-layout-wrap __MSG_@@extension_id__-ext-sortable-links __MSG_@@extension_id__-ext-links">
					___PROJECT/links___
				</ul>
			</div>

			<div class="__MSG_@@extension_id__-ext-partial-project-subprojects"></div>
		</section>
	</div>
</div>