<div class="__MSG_@@extension_id__-ext __MSG_@@extension_id__-ext-logged __MSG_@@extension_id__-ext-panel-right">
	<header class="__MSG_@@extension_id__-ext-head __MSG_@@extension_id__-ext-layout-row __MSG_@@extension_id__-ext-vcenter">
		<span class="__MSG_@@extension_id__-ext-head-title __MSG_@@extension_id__-ext-flex"></span>
		<a class="__MSG_@@extension_id__-ext-head-close" href="#"><i class="fa fa-close"></i></a>
	</header>

	<div class="__MSG_@@extension_id__-ext-wrap-content scrollbar-macosx">
		<section class="__MSG_@@extension_id__-ext-content __MSG_@@extension_id__-ext-content-todo">
			<section>
				
				<div class="__MSG_@@extension_id__-ext-list-todo"></div>

			</section>
		</section>
	</div>
</div>